# Welcome to the tutorial about mypackage!

In [1]:
pip list

Package                   Version      Editable project location
------------------------- ------------ ----------------------------------------------
anyio                     4.8.0
appnope                   0.1.3
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     24.3.0
babel                     2.16.0
beautifulsoup4            4.12.3
bleach                    6.2.0
Bottleneck                1.4.2
Brotli                    1.0.9
certifi                   2025.1.31
cffi                      1.17.1
charset-normalizer        3.3.2
click                     8.1.8
comm                      0.2.1
contourpy                 1.3.1
cycler                    0.11.0
debugpy                   1.8.11
decorator                 5.1.1
defusedxml                0.7.1
distlib                   0.3.9
executing                 0.8.3
fastjsonschema            2.20.0
filelock                  3.17.0
fonttools                 4.55.3
fredapi                   0.5.2
h11                       0.14.0
hatch                     1.14.0
hatchling                 1.27.0
hatchtest                 0.0.1        /Users/zhiyingzhang/Documents/Python/hatchtest
httpcore                  1.0.2
httpx                     0.27.0
hyperlink                 21.0.0
idna                      3.10
ipykernel                 6.29.5
ipython                   8.30.0
jaraco.classes            3.4.0
jaraco.context            6.0.1
jaraco.functools          4.1.0
jedi                      0.19.2
Jinja2                    3.1.5
joblib                    1.4.2
json5                     0.9.25
jsonschema                4.23.0
jsonschema-specifications 2023.7.1
jupyter_client            8.6.3
jupyter_core              5.7.2
jupyter-events            0.10.0
jupyter-lsp               2.2.0
jupyter_server            2.14.1
jupyter_server_terminals  0.4.4
jupyterlab                4.3.4
jupyterlab-pygments       0.1.2
jupyterlab_server         2.27.3
kagglehub                 0.2.7
keyring                   25.6.0
kiwisolver                1.4.8
markdown-it-py            3.0.0
MarkupSafe                3.0.2
matplotlib                3.10.0
matplotlib-inline         0.1.6
mdurl                     0.1.2
mistune                   2.0.4
more-itertools            10.6.0
nbclient                  0.8.0
nbconvert                 7.16.4
nbformat                  5.10.4
nest-asyncio              1.6.0
notebook_shim             0.2.3
numexpr                   2.10.1
numpy                     2.2.2
overrides                 7.4.0
packaging                 24.2
pandas                    2.2.3
pandocfilters             1.5.0
parso                     0.8.4
pathspec                  0.12.1
pexpect                   4.9.0
pillow                    11.1.0
pip                       25.0
platformdirs              3.10.0
plotly                    5.24.1
pluggy                    1.5.0
prettytable               3.15.1
prometheus_client         0.21.0
prompt-toolkit            3.0.43
psutil                    5.9.0
ptyprocess                0.7.0
pure-eval                 0.2.2
pycparser                 2.21
pyecharts                 2.0.8
Pygments                  2.19.1
pygroupf                  0.0.1        /Users/zhiyingzhang/Documents/Python/pygroupf
pyparsing                 3.2.0
PySocks                   1.7.1
python-dateutil           2.9.0.post0
python-json-logger        3.2.1
pytz                      2024.1
PyYAML                    6.0.2
pyzmq                     26.2.0
referencing               0.30.2
requests                  2.32.3
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rich                      13.9.4
rpds-py                   0.22.3
scikit-learn              1.6.1
scipy                     1.15.1
seaborn                   0.13.2
Send2Trash                1.8.2
setuptools                72.1.0
shellingham               1.5.4
simplejson                3.20.1
six                       1.16.0
sniffio                   1.3.1
soupsieve                 2.5
stack-data                0.2.0
tenacity                  9.0.0
terminado                 0.17.1
threadpoolctl             3.5.0
tinycss2                  1.4.0
tomli_w                   1.2.0
tomlkit                   0.13.2
tornado                   6.4.2
tqdm                      4.67.1
traitlets                 5.14.3
trove-classifiers         2025.2.18.16
typing_extensions         4.12.2
tzdata                    2023.3
unicodedata2              15.1.0
urllib3                   2.3.0
userpath                  1.9.2
uv                        0.6.3
virtualenv                20.29.2
wcwidth                   0.2.5
webencodings              0.5.1
websocket-client          1.8.0
wheel                     0.45.1
xlrd                      2.0.1
zstandard                 0.23.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pygroupf.data_processing import DataProcessor

In [3]:
# Define column types
categorical_cols = [
    "Sex",
    "Housing",
    "Saving accounts",
    "Checking account",
    "Purpose",
]
numerical_cols = ["Age", "Job", "Credit amount", "Duration"]

"""
Encode specific categorical columns with numerical values as per requirements:
- sex: male=1, female=0
- housing: own=2, free=1, rent=0
- saving_accounts: unknown=0, little=1, moderate=2, quite rich=3, rich=4
- checking_account: unknown=0, little=1, moderate=2, rich=3
"""

# Define mapping of categorical values to numerical values
mapping = {
    "Sex": {"male": 1, "female": 0, "unknown": -1},
    "Housing": {"own": 2, "free": 1, "rent": 0, "unknown": -1},
    "Saving accounts": {
        "unknown": 0,
        "little": 1,
        "moderate": 2,
        "quite rich": 3,
        "rich": 4,
    },
    "Checking account": {"unknown": 0, "little": 1, "moderate": 2, "rich": 3},
}

In [4]:
# data processing
processor = DataProcessor("data/german_credit_data.csv")
processor.load_data()
processor.clean_data(categorical_cols, numerical_cols)
processor.encode_categorical_values(mapping)
processed_data = processor.get_processed_data()

Data processing completed successfully!

In [5]:
# Display the processed data
processed_data.head()

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose
0,67,1,2,2,0,1,1169,6,radio/TV
1,22,0,2,2,1,2,5951,48,radio/TV
2,49,1,1,2,1,0,2096,12,education
3,45,1,2,1,1,1,7882,42,furniture/equipment
4,53,1,2,1,1,1,4870,24,car

In [6]:
from pygroupf.analysis import DataAnalyzer

In [7]:
# Define scoring rules for different fields
scoring_rules = {
    'Age': [
        {'condition': lambda x: x < 20 or x > 70, 'score': 15},
        {'condition': lambda x: 20 <= x < 25 or 60 < x <= 70, 'score': 10},
        {'condition': lambda x: 25 <= x < 30 or 50 < x <= 60, 'score': 5}
    ],
    'Sex': {'male': 2, 'female': 0, 'unknown': 1},
    'Job': {0: 15, 1: 10, 2: 5, 3: 1},
    'Housing': {0: 15, 1: 10, 2: 5},
    'Saving accounts': {
        'default': lambda x: (4 - x) * 3 if x > 0 else 10,
        'specific': {0: 10}
    },
    'Checking account': {
        'default': lambda x: (3 - x) * 4 if x > 0 else 10,
        'specific': {0: 10}
    },
    'Credit amount': [
        {'threshold': 8000, 'score': 15},
        {'threshold': 5000, 'score': 10},
        {'threshold': 2000, 'score': 5}
    ],
    'Duration': [
        {'threshold': 36, 'score': 15},
        {'threshold': 24, 'score': 10},
        {'threshold': 12, 'score': 5}
    ],
    'Purpose': {
        'business': 10,
        'education': 10,
        'unknown': 8,
        'car': 5,
        'furniture/equipment': 5,
        'radio/TV': 3,
        'domestic appliances': 3,
        'repairs': 3,
        'vacation/others': 3
    }
}

# Define risk levels based on total score
risk_levels = [
    (70, "High risk"),
    (50, "Medium-high risk"),
    (30, "Medium-low risk"),
    (0, "Low risk")
]

In [8]:
# data analysis and save risk report
# processed_data = pd.read_csv("data/processed_credit_data.csv")
analyzer = DataAnalyzer(processed_data, scoring_rules, risk_levels)
risk_report = analyzer.generate_risk_report() 
analyzer.save_risk_report("data/risk_report.csv")

Risk report saved to data/risk_report.csv

In [9]:
# Display the risk report
risk_report.head()

,customer_id,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk_score,risk_level
0,1,67,1,2,2,0,1,1169,6,radio/TV,41,Medium-low risk
1,2,22,0,2,2,1,2,5951,48,radio/TV,61,Medium-high risk
2,3,49,1,1,2,1,0,2096,12,education,49,Medium-low risk
3,4,45,1,2,1,1,1,7882,42,furniture/equipment,62,Medium-high risk
4,5,53,1,2,1,1,1,4870,24,car,52,Medium-high risk

In [10]:
from pygroupf.visualization import DataVisualizer

In [11]:
visualizer = DataVisualizer('data/risk_report.csv')
visualizer.visualize_all()

Heatmap saved to image/heatmap.png
Risk level distribution plot saved to image/risk_distribution.png
All visualizations have been generated and saved to the 'image' folder.